<div class="panel panel-default" *ngIf='album && artist'>
    
    <div class="panel-heading">
        Album Details
    </div>
    
    <div class="panel-body">
        <img [src]='"images/albums/" + album.image_url' />
        {{album.title}}
        <br/>
        {{artist.name}}
        <br/>
        {{album.year}}
    </div>
    
    <div class="panel-footer">
        <a class='btn btn-default' (click)='onBack()' style='width:80px'>
            <i class='glyphicon glyphicon-chevron-left'></i> Back
        </a>
    </div>
    
</div>