<div class="panel panel-default" *ngIf='artist'>
    
    <div class="panel-heading">
        Artist Details
    </div>
    
    <div class="panel-body">
        <div class='row'>
            <div class='col-md-2'>
                <img [src]='"images/artists/" + artist.image_url' />
            </div>
            <div class='col-md-10'>
                <h3>{{artist.name}}</h3>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-12'>
                {{artist.biography}}
            </div>
        </div>
        <div class='well'>
            <albums-list (albumClicked)='onAlbumClicked($event)' [artist]='artist'></albums-list>
        </div>
    </div>
    
    <div class="panel-footer">
        <a class='btn btn-default' (click)='onBack()' style='width:80px'>
            <i class='glyphicon glyphicon-chevron-left'></i> Back
        </a>
    </div>
    
</div>